<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<property name="LOGS_ABSOLUTE_PATH" value="./log/virtual" />

	<!-- 콘솔에 로그를 찍는 방법 -->
	<appender name="SAMPLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
				<!-- 로그 기록시간(년-월-일 시:분:초) 스레드이름 로그 레벨 로거 이름축약 - 메시지 줄바꿈 -->
				<pattern>virtual sample : [%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n
				</pattern>
		</encoder>
	</appender>
	
	<!-- 파일에 로그를 찍는 방법 -->
	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<encoder>			
				<!-- 로그 기록시간(년-월-일 시:분:초) 스레드이름 로그 레벨 로거 이름축약 - 메시지 줄바꿈 -->
				<pattern>virtual rolling: [%d{yyyy-MM-dd HH:mm:ss}:%-3relative][%thread] %-5level %logger{35} - %msg%n
				</pattern>			
		</encoder>
		<rollingPolicy
			class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${LOGS_ABSOLUTE_PATH}/logback.%d{yyyy-MM-dd}.%i.log.gz
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>5MB</maxFileSize>
				<!-- kb, mb, gb -->
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
	</appender>
	
		<logger name="com.example.demo" level="INFO">			
			<appender-ref ref="ROLLING" />
			<appender-ref ref="SAMPLE" />			
		</logger>
		
		<logger name="com.example.demo" level="DEBUG">			
			<appender-ref ref="ROLLING" />
			<appender-ref ref="SAMPLE" />			
		</logger>

</configuration>
